.select2-selection__rendered {
    line-height: 50px !important;
}

.select2-container--default .select2-selection--single  {
  height: 50px !important;
}


.select2-selection__arrow {
  height: 34px !important;
}

.select2-choices {
  min-height: 150px;
  max-height: 150px;
  overflow-y: auto;
}
